<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igogogo.dao.Ig_CategoryMapper">
	<resultMap id="BaseResultMap" type="com.igogogo.domain.Ig_Category">
		<id column="categoryId" property="categoryid" jdbcType="INTEGER" />
		<result column="categoryName" property="categoryname" jdbcType="VARCHAR" />
		<result column="categoryImg" property="categoryimg" jdbcType="VARCHAR" />
		<result column="parentId" property="parentid" jdbcType="INTEGER" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="ishot" property="ishot" jdbcType="INTEGER" />
		<result column="isdisplay" property="isdisplay" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		categoryId,
		categoryName,categoryImg,parentId,keyword,ishot,isdisplay
	</sql>

	<select id="queryKeyWordByPage" resultMap="BaseResultMap"
		parameterType="map">
		select
		*
		from ig_category where categoryName like
		CONCAT('%',#{title},'%')
		limit
		#{page},#{size}
	</select>

	<select id="queryCountByKeyWord" resultType="int">
		select count(*) from
		ig_category where categoryName like CONCAT('%',#{title},'%')
	</select>

	<select id="queryCount" resultType="int">
		select count(*) from
		ig_category
	</select>

	<select id="queryAllParent" resultMap="BaseResultMap">
		select
		*
		from ig_category
		where isdisplay = 1 and parentId = 0
	</select>

	<select id="queryAllChildrenByParentId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		*
		from ig_category where isdisplay = 1 and parentId =
		#{parentId,jdbcType=INTEGER}
	</select>

	<select id="query" resultMap="BaseResultMap">
		select
		*
		from ig_category where
		isdisplay = 1
	</select>

	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		*
		from ig_category
		where
		categoryId =
		#{categoryid,jdbcType=INTEGER}
	</select>

	<select id="queryByPage" resultMap="BaseResultMap"
		parameterType="map">
		select
		*
		from ig_category where isdisplay = 1
		limit
		#{page},#{size}
	</select>

	<select id="queryByCondition" resultMap="BaseResultMap"
		parameterType="map">
		select
		*
		from ig_category
		where ${columnname}
		like
		CONCAT('%',#{columnval},'%')
	</select>

	<select id="queryByConditionByPage" resultMap="BaseResultMap"
		parameterType="map">
		select
		*
		from ig_category
		where ${columnname} =
		${columnval}
		limit
		#{page},#{size}
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ig_category
		where categoryId = #{categoryid,jdbcType=INTEGER}
	</select>

	<delete id="deleteByMoreId">
		delete from ig_category
		where categoryId in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ig_category
		where categoryId = #{categoryid,jdbcType=INTEGER}
	</delete>


	<insert id="insertSelective" parameterType="com.igogogo.domain.Ig_Category">
		insert into ig_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="categoryid != null">
				categoryId,
			</if>
			<if test="categoryname != null">
				categoryName,
			</if>
			<if test="categoryimg != null">
				categoryImg,
			</if>
			<if test="keyword != null">
				keyword,
			</if>
			<if test="parentid != null">
				parentId,
			</if>
			<if test="ishot != null">
				ishot,
			</if>
			<if test="isdisplay != null">
				isdisplay,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="categoryid != null">
				#{categoryid,jdbcType=INTEGER},
			</if>
			<if test="categoryname != null">
				#{categoryname,jdbcType=VARCHAR},
			</if>
			<if test="categoryimg != null">
				#{categoryimg,jdbcType=VARCHAR},
			</if>
			<if test="keyword != null">
				#{keyword,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				#{parentid,jdbcType=INTEGER},
			</if>
			<if test="ishot != null">
				#{ishot,jdbcType=INTEGER},
			</if>
			<if test="isdisplay != null">
				#{isdisplay,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.igogogo.domain.Ig_Category">
		update ig_category
		<set>
			<if test="categoryname != null">
				categoryName = #{categoryname,jdbcType=VARCHAR},
			</if>
			<if test="categoryimg != null">
				categoryImg = #{categoryimg,jdbcType=VARCHAR},
			</if>
			<if test="keyword != null">
				keyword = #{keyword,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				parentId = #{parentid,jdbcType=INTEGER},
			</if>
			<if test="ishot != null">
				ishot = #{ishot,jdbcType=INTEGER},
			</if>
			<if test="isdisplay != null">
				isdisplay = #{isdisplay,jdbcType=INTEGER},
			</if>
		</set>
		where categoryId = #{categoryid,jdbcType=INTEGER}
	</update>


</mapper>